html, body {
	height: 100%;
	margin: 0;
	border: 0;

	font-family: DejaVu Sans Mono, monospace; 
	color: white;

	background-image: url("img.jpg"); 
	background-size: cover;

}



form {
	position: absolute;
	left: 10%;
	top: 50%;
	transform: translateY(-50%);

}

h1 { 
	margin-left: -15%;
}



.labels {

	font-size: 1.2rem;

	margin-top: 1rem;
	margin-bottom: 1rem;

	display: block;
}

.inputs {
	width: 20rem;
	height: 1.7rem;

	color: white;
	font-size: 1.1rem;

	content: "...";
	box-shadow: none;
	border: 2px solid rgb(40,40,40);
	border-bottom: 2px solid white;
	background-color: rgb(40,40,40);
}



button {
	display: block;
	margin-top: 3rem;

	width: 10rem;
	height: 2.5rem;

	font-size: 1.2rem;
	color: white;
	border: 2px solid white;
	border-radius: 2rem;

	background: rgb(40,40,40);
}


button:hover {
	background: white;

	color: rgb(40,40,40);
	border-color: rgb(40,40,40);
}

.inputs:hover {
	border: 2px solid white;
	content: "...";
}